<!DOCTYPE html>
<html>
  <%- include('./partials/_head', { title: 'Forgot Password' }) %>

  <body>
    <span class="preheader"
      >This is preheader text. Some clients will show this text as a
      preview.</span
    >
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      class="body"
    >
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table
                    role="presentation"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tr>
                      <td>
                        <p>Hi [User Name]</p>
                        <p>
                          We received a request to reset the password for your
                          account. If you did not make this request, please
                          ignore this email. Otherwise, you can reset your
                          password using the link below:.
                        </p>
                        <table
                          role="presentation"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          class="btn btn-primary"
                        >
                          <tbody>
                            <tr>
                              <td align="left">
                                <table
                                  role="presentation"
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <a
                                          href="<%= actionUrl %>"
                                          target="_blank"
                                          >Reset Password</a
                                        >
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>
                          This link will expire in 24 hours, so be sure to use
                          it soon. If you encounter any issues, please contact
                          our support team
                        </p>
                        <br />
                        <br />
                        <p>Thank you,</p>
                        <p>[Company Name]</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->

            <%- include('./partials/_footer') %>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
